.stats a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  padding: 1rem;
  border: 1px solid rgb(171, 0, 0);
  margin: auto;
  transition: all 0.5s;
}

.stats a:hover {
  transform: scale(1.05);
}

.stats img {
  height: 8rem;
  width: 8rem;
}

.pages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page {
  width: 9rem;
  margin: 1rem;
  border: 1px solid rgb(171, 0, 0);
  transition: all 0.5s;
}

.page:hover {
  transform: scale(1.1);
}

.pageLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.pagesIcon {
  height: 5rem;
  width: 5rem;
}